/* Classic 2000s Web Style - Clean Academic Theme */

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: #0000FF;
    text-decoration: underline;
}

a:visited {
    color: #800080;
    text-decoration: underline;
}

a:hover {
    color: #FF0000;
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid #000000;
}
